<h2 class="center align">Billboard Chart</h2>

  <div class="center align">
    <h3> <%= @billboard.title %> </h3>
    <h3> <%= @billboard.rank %> </h3>
  </div>


  <div class="center align">
    <ul>
      <li><%= link_to 'Back to Charts', billboards_path %></li>
  		<li> <%= link_to 'Edit', edit_billboard_path(@billboard) %> </li>
  		<li> <%= link_to 'Delete', billboard_path, method: :delete, data: {confirm: 'Really delete?'} %> </li>
  	</ul>
  </div>

<!-- <p>Find me in app/views/billboards/show.html.erb</p> -->
